.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
}
.container .fa-facebook-messenger{
    color:blue;
    font-size: 80px;
}
.container .notify::before{
    position: absolute;
    content: attr(data-count);
    /* content: '1'; */
right: -3px;
top: 0;
font-size: 15px;
font-weight: bold;
padding: 5px 12px;
border-radius: 50px;
line-height: 100%;
color: white;
background: linear-gradient(#d63031,#e91616,#eb2f06);
box-shadow: 0 0 10px rgba(0, 0, 0, .2);
opacity: 0;
transition: opacity 0.1s ease-out;
}
.notify.add-numb::before{
    opacity: 1;
}
.btn{
    position: absolute;
    outline: none;
    top: 100px;
    left: -25px;
    width: 120px;
    color: white;
    padding: 10px 5px;
    font-weight: bold;
    background: #11A366;
    border: 1px solid #111755;
    cursor: pointer;

}
.btn:hover{
    background:#363634;
}